@charset "UTF-8";
p {
  color:#151b94;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  line-height: 50px;
  width: 300px;
  background-color: white;
  padding: 5px;
}

p1 {
  color:#151b94;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  line-height: 50px;
  width: 300px;
  background-color: white;
  padding: 5px;
}

h3{
  color:#151b94;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  line-height: 50px;
  width: 200px;
  background-color: white;
  padding: 5px;
}

h2 {
  font-family:Helvetica, sans-serif;
  font-size:50px;
  color:#1bc908;
  line-height: 50px;
  width: 1000px;
  background-color: white;
  padding: 50px;
}

h1 {
  font-family:Helvetica, sans-serif;
  font-size:50px;
  color:#1bc908;
  line-height: 50px;
  width: 200px;
  background-color: white;
  padding: 50px;
}

span {
  color:#f5ce42
}

a:link {
  color:#151b;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  line-height: 50px;
  width: 20px;
  background-color: white;
  padding: 5px;
}

a:hover{
  background-color:#1bc908
}


ol, li, blockquote{
  color:#151b94;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
  width: 80px;
  background-color: white;
  padding: 20px;
}

body {
  background-image: url("pozadina.jpeg");
}

img{
  height: 500px;
}
